<?xml version="1.0" ?>
<launch>
  <arg name="gui" default="true" />
  
  <arg name="robot_name"  default="robot"/>
  <arg name="robot_x"   default="0.0" />
  <arg name="robot_y"   default="0.0" />
  <arg name="robot_yaw" default="0.0" />

  <!-- spawn robot and bring up controllers etc. -->
  <!--<group ns="$(arg robot_name)" > -->
    <include file="$(find mir_gazebo)/launch/mir_gazebo_common.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
      <arg name="robot_x"   value="$(arg robot_x)" />
      <arg name="robot_y"   value="$(arg robot_y)" />
      <arg name="robot_yaw" value="$(arg robot_yaw)" />
    </include>
  <!--</group>-->
</launch>
