<?xml version="2.0" ?>

<launch>

<arg name="robot_name"  default="robot"/>
<arg name="robot_x"     default="0.0" />
<arg name="robot_y"     default="0.0" />
<arg name="robot_yaw"   default="0.0" />
<arg name="displ"       default="log"/>
 
<group ns="$(arg robot_name)" > 
    <include file="$(find multiple_mir)/launch/one_robot.launch">
        <arg name="robot_x"   value="$(arg robot_x)" />
        <arg name="robot_y"   value="$(arg robot_y)" />
        <arg name="robot_yaw"   value="$(arg robot_yaw)" />
        <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    
</group> 
</launch>